<!DOCTYPE html>
<link rel="stylesheet" href="./style.css">
<html lang="en" ng-app="convertidorApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer Convertidor de moneda</title>
</head>
<body ng-controller="calculatorController">
    <!-- Contenedor principal calculadora -->
    <div class="container">
        <h1 class="container__title">Convertidor de Monedas</h1>
        <h3 class="container__description">Convierte tus dolares a pesos colombianos</h3>
        <div class="form">
            <label for="moneyInput">Convertidor</label>
            <input type="number" class="form__input" placeholder="Ingrese su valor" ng-model="moneyInput">
            
        </div>
        <hr>
        
        <div class="btn__container">
            <button class="btn" ng-click="calcular()">CONVERTIR</button>
        </div>
        <hr>
        <p class="text">
         Total en Dolares  <strong>$ {{dollarcop | number:2}} </strong></p>
    </div>
    
    <!-- Framework AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Mensajes de alerta -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Controllers -->
    <script src="calculatorController.js"></script>
</body>
</html>